<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708550190345-emrvigv6vf1ki9jslpr8jj81413qamdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708550190345-emrvigv6vf1ki9jslpr8jj81413qamdp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>708550190345-uor2dsn52flja6o5esahmh6kv72mooe8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSDrYES4Xr5puBdsEcA3crhOPPc5eUsds</string>
	<key>GCM_SENDER_ID</key>
	<string>708550190345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.onspot</string>
	<key>PROJECT_ID</key>
	<string>on-spot-12iwyn</string>
	<key>STORAGE_BUCKET</key>
	<string>on-spot-12iwyn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708550190345:ios:794511103979f8ed9b5fd8</string>
</dict>
</plist>